
{% set linkUrl = content.field_link[0]['#url'].uri %}
{% set linkText = content.field_link[0]['#title'] %}
{% set title = content.field_title[0]['#context'].value %}
{% set description = content.field_description[0]['#text'] %}

<div class="paragraph paragraph--portfolio-item">
  <h4 class="paragraph-title">{{ title }}</h4>
  <a href="{{ linkUrl }}" class="paragraph-link" target="_blank">{{ linkText }}</a>
  <div class="paragraph-description">
    {{ description | raw }}
  </div>
</div>
