.paragraph--portfolio-item {
  h4.paragraph-title {
    font-size: 1.125em;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 0;
  }
  a.paragraph-link {
    display: block;
    margin-bottom: $gutter--narrower;
  }
}